* {
    box-sizing: border-box;
}
[class*="col-"] {
    float:left;
    padding:5px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 3840) {
[class*="col-"] {
    width: 100%;
}
}

#page {
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(grey, lightgrey);
    border: 2px solid black;
    border-radius: 20px;
    padding:10px;
}
header nav {
    text-align: center;
    width: 100%;
}
header nav ul {
    list-style-type: none;
    text-align: center;
    width: 100%;
}
header nav ul li {
    float:left;
    width: 25%;
    padding: 5%;
}

.left-f {
    float: left;
}
.right-f {
    float: right;
}
.right-f img {
    display: block;
    float:right;
}

