* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 5px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media only screen and (max-width: 3840) {
    [class*="col-"] {
        width: 100%;
    }
}

header {
    border: 2px solid rgb(255, 0, 0);
    border-radius: 25px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding: 0;
}

a:link {
    color: rgb(255, 255, 255);
    font-size: large;
    text-decoration: none;
}

a:active {
    text-decoration: none;
    color:blue
}

a:visited {
    text-decoration: none;
    color: transparent;
}

a:link:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: large;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgb(110, 110, 110);
}

#page {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    background-color: rgb(75, 83, 81);
}

header nav {
    text-align: center;
    width: 80%;
}

.center {
    margin: auto;
}

header nav ul {
    list-style-type: none;
    text-align: center;
    width: 100%;
}

header nav ul li {
    float: left;
    width: 20%;
    padding: 1%;
}

.centeri {
    text-align: center;
}

.kepek {
    height: 100%;
}

.bal {
    float: left;
}

.jobb {
    float: right;
}

.jobb img {
    display: block;
    float: right;
}